model:
  name_or_path: "Qwen/Qwen2.5-7B-Instruct"
  torch_dtype: "bfloat16"

lora:
  r: 16
  lora_alpha: 32
  lora_dropout: 0.05
  target_modules: "all-linear"
  task_type: "CAUSAL_LM"
  bias: "none"
